body{
    background: url("../images/pexels-pixabay-47730.jpg");
    background-size: cover;
}

header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    word-spacing: 1rem;
    width: fit-content;
    padding: 0 150px 0 150px;
}

header > h1 > span::first-letter{
    font-size: xx-large;
    color: white;
}

footer{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    width: 2%;
}

#logo_uefa{
    width: 100%;
}

.projet_footer{
    padding-left: 10px;
}